version: '3'

services:
  miniflux:
    image: miniflux/miniflux:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file:
      - miniflux.env
    healthcheck:
      test: ["CMD", "/usr/bin/miniflux", "-healthcheck", "auto"]
    depends_on:
      - postgres
    ports:
      - {{ miniflux_ext_port }}:8080

  postgres:
    image: postgres:16
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data/:/var/lib/postgresql/data
    env_file:
      - miniflux.env
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s