[
  {
    "id": "homelab-maint-ssh",
    "name": "homelab maintenance (util01)",
    "type": "sshPrivateKey",
    "data": {
      "host": "{{ hostvars['util01'].ansible_host }}",
      "port": 22,
      "username": "{{ user }}",
      "privateKey": {{ n8n_maint_private_key | to_json }},
      "passphrase": ""
    }
  }
]
