[
  {
    "id": "homelab-nzbget",
    "name": "homelab nzbget (restricted)",
    "type": "httpBasicAuth",
    "data": {
      "user": {{ n8n_vpnheal_nzbget_user | to_json }},
      "password": {{ n8n_vpnheal_nzbget_password | to_json }}
    }
  }
]
