[
  {
    "id": "homelab-vault-ssh",
    "name": "homelab vaultsync (cmp01)",
    "type": "sshPrivateKey",
    "data": {
      "host": "{{ hostvars['cmp01'].ansible_host }}",
      "port": 22,
      "username": "{{ user }}",
      "privateKey": {{ n8n_vault_private_key | to_json }},
      "passphrase": ""
    }
  }
]
