[
  {
    "id": "homelab-wan-ssh",
    "name": "homelab wanwatch (gw01)",
    "type": "sshPrivateKey",
    "data": {
      "host": "{{ hostvars['gw01'].ansible_host }}",
      "port": 22,
      "username": "{{ user }}",
      "privateKey": {{ n8n_wan_private_key | to_json }},
      "passphrase": ""
    }
  }
]
