[
  {
    "id": "homelab-gluetun-control",
    "name": "homelab gluetun control API",
    "type": "httpHeaderAuth",
    "data": {
      "name": "X-API-Key",
      "value": {{ n8n_vpnheal_gluetun_apikey | to_json }}
    }
  }
]
