# Basic configuration
port: 53
httpPort: 4000

prometheus:
  enable: true
  path: /metrics

# DNS Related Config
upstream:
  default:
    - 10.0.2.7
upstreamTimeout: 2s

bootstrapDns: tcp+udp:1.1.1.1

# Caching Related Config
caching:
  minTime: 10m
  maxTime: 30m
  maxItemsCount: 10000
  prefetching: true
  prefetchExpires: 3h
  prefetchThreshold: 5
  prefetchMaxItemsCount: 10000
  cacheTimeNegative: 3m

# Blocking Related Config
# We aren't doing any blocking here, it is handled by upstream dns server
# running on pie-1.infra
blocking:
  blackLists:
    ads: []
  whiteLists:
    ads: []
  clientGroupsBlock:
    default:
      - ads
      - special
  blockTTL: 30m
  refreshPeriod: 4h
  downloadTimeout: 3m
  downloadAttempts: 2
  downloadCooldown: 30s
  startStrategy: failOnError


# optional: custom IP address(es) for domain name (with all sub-domains). Multiple addresses must be separated by a comma
# example: query "printer.lan" or "my.printer.lan" will return 192.168.178.3
customDNS:
  customTTL: 10m
  # optional: if true (default), return empty result for unmapped query types (for example TXT, MX or AAAA if only IPv4 address is defined).
  # if false, queries with unmapped types will be forwarded to the upstream resolver
  filterUnmappedTypes: true
  # optional: replace domain in the query with other domain before resolver lookup in the mapping

  rewrite:
    homelab.uknth.me: infra
  mapping:
    {% for name, var in hostvars.items() -%}
    {{ name }}.infra: {{ hostvars[name]["ansible_host"] }}
    {% endfor -%}  
    router-1.infra: 10.0.2.1
    nas-1.infra: 10.0.2.3
    infra: 10.0.2.2
