# This is very hard-coded file, can't be used without major modification
port: 53
httpPort: 4000

prometheus:
  enable: true
  path: /metrics

# upstream definitions
upstreams:
  init:
    # strategy: [ blocking, filOnError, fast ] - fast serves the DNS resolution requests immediately
    strategy: "fast" 

  # timeout to query upstream resolver
  timeout: 1s 

  # strategy [ parallel_best, strict, random ] to use when picking the dns resolver
  strategy: "strict"

  # upstream resolver groups
  groups: 
    default:
      - 10.0.2.7
      - 1.1.1.1

customDNS:
  customTTL: 10m
  filterUnmappedTypes: true
  rewrite:
    homelab.uknth.me: puhome.net
  mapping:
    pie-1.host.puhome.net: 10.0.2.7
    cockpit.puhome.net: 10.0.2.2

    {% for name, var in hostvars.items() -%}
    {% if name != 'localhost' -%}
    {{ name }}.puhome.net: {{ var.ansible_host | default(name) }}
    {% endif -%}
    {% endfor -%}

    {% for item in blocky_domain_mapping -%}
    {{ item.name }}.{{ base_domain }}: {{ item.ip }}
    {% endfor -%}
  
    {% for item in service_mapping -%}
    {{ item.name }}.{{ base_domain }}: {{ item.ip }}
    {% endfor %}

blocking:
  blackLists:
    ads:
      {% for item in blocky_block_ads_list -%}
      - {{ item }}
      {% endfor %}
    
    scams:
      {% for item in blocky_block_scams_list -%}
      - {{ item }}
      {% endfor %}
    
    malware:
      {% for item in blocky_block_malware_list -%}
      - {{ item }}
      {% endfor %}

  whiteLists:
    ads: []
  clientGroupsBlock:
    default:
      - ads
      - scams
      - malware
  blockTTL: 6h

caching:
  minTime: 10m
  maxTime: 30m
  maxItemsCount: 100000
  prefetching: true
  prefetchExpires: 3h
  prefetchThreshold: 5
  prefetchMaxItemsCount: 10000
  cacheTimeNegative: 10m
 
