version: "2.1"
services:
  blocky:
    image: spx01/blocky:v0.26.2
    container_name: blocky
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ blocky_ext_port }}:4000/tcp"
    environment:
      - TZ=Asia/Kolkata # Optional to synchronize the log timestamp with host
      - CONFIG_FILE=/app/config/config.yml
    volumes:
      - {{ config_dir }}/blocky/config/config.yml:/app/config.yml

  blocky-ui:
    image: gabrielduartem/blocky-ui:latest
    container_name: blocky-ui
    restart: unless-stopped
    depends_on:
      - blocky
    ports:
      - {{ blocky_ui_ext_port }}:3000
    environment:
      - BLOCKY_API_URL=http://blocky:4000