# Managed by Ansible — services/dashboard/homepage
- greeting:
    text_size: xl
    text: Homelab
- datetime:
    text_size: xl
    format: { dateStyle: long, timeStyle: short, hour12: false }
- resources:
    label: util01
    cpu: true
    memory: true
    disk: /
- openmeteo:
    label: {{ homepage_weather_label }}
    latitude: {{ homepage_weather_lat }}
    longitude: {{ homepage_weather_long }}
    units: metric
    cache: 5
- search:
    provider: duckduckgo
    target: _blank
