version: "3"
services:
  fusion:
    image: ghcr.io/0x2e/fusion:latest
    ports:
      - "{{ fusion_ext_port }}:8080"
    environment:
      - PASSWORD={{ fusion_password }}
    restart: "unless-stopped"
    volumes:
      - {{ fusion_data_dir }}:/data