services:
  navidrome:
    image: deluan/navidrome:latest
    user: "{{ puid }}:{{ pgid }}" # should be owner of volumes
    ports:
      - "{{ music_navidrome_ext_port }}:4533"
    restart: unless-stopped
    # environment:
      # Optional: put your config options customization here. Examples:
      # ND_LOGLEVEL: debug
    volumes:
      - "{{ music_navidrome_data_dir }}:/data"
      - "{{ media_out_dir }}/data/music:/music:ro"
    networks:
      - music

  headphones:
    image: lscr.io/linuxserver/headphones:latest
    container_name: headphones
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ music_headphones_config_dir }}:/config"
      - "{{ media_out_dir }}/data:/data"
    ports:
      - "{{ music_headphones_ext_port }}:8181"
    restart: unless-stopped
    networks:
      - music

networks:
  music: {}