title: "Kener - Homelab Monitoring"
siteName: "Kener.Homelab"
home: "/"
logo: "/logo.png"
siteURL: "https://kener.homelab.uknth.me"
favicon: "/logo96.png"
github:
    owner: "uknth"
    repo: "homelab"
    incidentSince: 0
metaTags:
    description: "Kener: Homelab Monitoring"
    keywords: ""
    og:description: "Kener: Homelab Monitoring"
    og:image: "https://kener.homelab.uknth.me/ss.png"
    og:title: "Kener - Homelab Monitoring"
    og:type: "website"
    og:site_name: "Kener"
    twitter:card: "summary_large_image"
    twitter:site: "@uknth"
    twitter:creator: "@uknth"
    twitter:image: "https://kener.homelab.uknth.me/ss.png"
    twitter:title: "Kener: Homelab Monitoring"
    twitter:description: "Kener: Homelab Monitoring"
nav:
    - name: "Documentation"
      url: "/docs/home"
    - name: "Github"
      iconURL: "/github.svg"
      url: "https://github.com/uknth/homelab"
hero:
    title: "Kener - Homelab Monitoring"
    subtitle: "Homelab status page."
footerHTML: |
    Made using 
    <a href="https://github.com/uknth/homelab" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
        Homelab 
    </a>
i18n:
    defaultLocale: "en"
    locales:
        en: "English"
pattern: "squares"
analytics: []
barRoundness: SHARP
summaryStyle: CURRENT
barStyle: PARTIAL
