---
# fast-storage
# smb://user:password@hero-1:/fast-storage
apiVersion: v1
data:
  password: {{ samba_user_password | b64encode }}
  username: {{ samba_user | b64encode }}
kind: Secret
metadata:
  name: {{ k8s_secret_smb_hero_1 }} 
  namespace: {{ k8s_namespace }}

---
# fast2-storage
# smb://user:password@sidekick-1:/fast2-storage
apiVersion: v1
data:
  password: {{ samba_user_password | b64encode }}
  username: {{ samba_user | b64encode }}
kind: Secret
metadata:
  name: {{ k8s_secret_smb_sidekick_1 }} 
  namespace: {{ k8s_namespace }}
  
---
apiVersion: v1
data:
  password: {{ nas_password | b64encode }} 
  username: {{ nas_user | b64encode }} 
kind: Secret
metadata:
  name: {{ k8s_secret_smb_nas_1 }}
  namespace: {{ k8s_namespace }}
type: Opaque
