# Homepage configuration
# Original template written by Lento (https://lento234.ch)
# Source: https://github.com/lento234/homelab/blob/main/roles/containers/server/homer/templates/config.yml.j2 

title: "Homelab"
subtitle: "{{ domain_name }}"
logo: "assets/tools/homer.svg"

header: true
footer: '<p>Made with <i class="fas fa-heart"></i> by <a href="https://uknth.me">Ujjwal Kanth</a>.</p>'

# columns: "3"
connectivityCheck: true

# Optional theme customization
theme: default
colors:
  light:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#ffffff"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link-hover: "#363636"
  dark:
    highlight-primary: "#2E3440"
    highlight-secondary: "#4C566A"
    highlight-hover: "#81A1C1"
    background: "#3B4252"
    card-background: "#2E3440"
    text: "#D8DEE9"
    text-header: "#D8DEE9"
    text-title: "#81A1C1"
    text-subtitle: "#81A1C1"
    card-shadow: rgba(0, 0, 0, 0.4)
    link-hover: "#BF616A"

# Optional navbar
links:
  - name: "GitHub Repo"
    icon: "fab fa-github"
    url: "https://github.com/uknth/homelab"
    target: "_blank"

# Services
services:
  - name: "Media"
    icon: "fas fa-film"
    items:
      - name: "Video [Jellyfin]"
        logo: "assets/tools/jellyfin.svg"
        subtitle: "Local Media Streaming"
        url: "https://jellyfin.{{ domain_name }}"
        target: "_blank"

      - name: "Music [Navidrome]"
        logo: "assets/tools/navidrome.svg"
        subtitle: "Local Music Streaming"
        url: "https://music.{{ domain_name }}"
        target: "_blank"

      - name: "Photos [Immich]"
        logo: "assets/tools/immich.svg"
        subtitle: "Local Photos Viewer & Backup"
        url: "https://photos.{{ domain_name }}"
        target: "_blank"

  - name: "IOT"
    icon: "fas fa-lightbulb"
    items:
      - name: "Homeassistant"
        logo: "assets/tools/homeassistant.svg"
        subtitle: "Manage IOT Devices at Home"
        url: "https://homeassistant.homelab.uknth.me"
        target: "_blank"

  - name: "Secret"
    icon: "fas fa-lock"
    items:
      - name: "Vault"
        logo: "assets/tools/vaultwarden.svg"
        subtitle: "Password Vault [BitWarden]"
        url: "https://vault.homelab.uknth.me"
        target: "_blank"


  - name: "Networking & Storage"
    icon: "fas fa-network-wired"
    items:
      - name: "Tailscale"
        logo: "assets/tools/tailscale.png"
        subtitle: "WireGuard-based VPN"
        url: "https://login.tailscale.com/admin/machines"
        target: "_blank"
        tag: "extern"

      - name: "Blocky"
        logo: "assets/tools/blocky.svg"
        subtitle: "Local DNS Resolver & Proxy"
        url: "https://blocky.homelab.uknth.me"
        target: "_blank"

      - name: "PiHole"
        logo: "assets/tools/pihole.svg"
        subtitle: "Network level ad-blocker"
        url: "https://pi-hole.homelab.uknth.me/admin/"
        target: "_blank"

      - name: "Multi WAN Load Balancer"
        logo: "assets/tools/cisco.svg"
        subtitle: "Internet Gateway, Load Balancer"
        url: "https://router-1.{{ domain_name }}"
        target: "_blank"

      - name: "Synolog NAS"
        logo: "assets/tools/synology.svg"
        subtitle: "NAS, Synology"
        url: "https://nas.{{ domain_name }}"
        target: "_blank"
        
  - name: "File Sync" 
    icon: "fas fa-file"
    items:
      - name: "Localhost"
        logo: "assets/tools/syncthing.png"
        url: "http://127.0.0.1:8384"
        target: "_blank"

      - name: "Workstation [Syncthing]"
        logo: "assets/tools/syncthing.png"
        url: "http://workstation-1.hnet:8384"
        target: "_blank"

      - name: "Sidekick [Syncthing]"
        logo: "assets/tools/syncthing.png"
        url: "http://sidekick-1.hnet:8384"
        target: "_blank"

  - name: "Utils" 
    icon: "fas fa-screwdriver-wrench"
    items:
      - name: "Whoogle"
        subtitle: "Privacy focused Google Search Proxy"
        logo: "assets/tools/whoogle.svg"
        url: "https://whoogle.homelab.uknth.me"
        target: "_blank"


