---
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
  name: {{ fast_pv_name }}
  namespace: {{ homelab_namespace }}
spec:
  capacity:
    storage: {{ fast_storage_capacity }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: smb
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - nobrl
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    # volumeHandle format: {smb-server-address}#{sub-dir-name}#{share-name}
    # make sure this value is unique for every share in the cluster
    volumeHandle: {{ smb_storage_host }}/fast-storage/jellyfin##
    volumeAttributes:
      source: "//{{ smb_storage_host }}/fast-storage"
    nodeStageSecretRef:
      name: {{ homelab_smb_fast_storage_secret }}
      namespace: {{ homelab_namespace }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ fast_pvc_name }}
  namespace: {{ homelab_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ fast_storage_capacity }}
  volumeName: {{ fast_pv_name }}
  storageClassName: smb
