# Managed by Ansible — services/dashboard/portainer_agent
services:
  agent:
    image: {{ portainer_agent_image }}
    container_name: portainer_agent
    restart: unless-stopped
    ports:
      - "{{ portainer_agent_port }}:9001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
