---
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
  name: {{ nas_pv_name }}
  namespace: {{ homelab_namespace }}
spec:
  capacity:
    storage: {{ nas_storage_capacity }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: smb
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - nobrl
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: {{ nas_storage_host }}/music/navidrome##
    volumeAttributes:
      source: "//{{ nas_storage_host }}/music"
    nodeStageSecretRef:
      name: {{ homelab_smb_nas_secret }}
      namespace: {{ homelab_namespace }}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ nas_pvc_name }}
  namespace: {{ homelab_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ nas_storage_capacity }}
  volumeName: {{ nas_pv_name }}
  storageClassName: smb