# Basic configuration
port: 53
httpPort: 4000

prometheus:
  enable: true
  path: /metrics

# DNS Related Config
upstream:
  default:
    - 10.0.2.7
upstreamTimeout: 2s

# conditional:
#   fallbackUpstream: false
#   rewrite:
#     homelab.uknth.me: sidekick-1.homelab
#   mapping:
#     sidekick-1.homelab: 127.0.0.1:54

bootstrapDns: tcp+udp:1.1.1.1

# Caching Related Config
caching:
  minTime: 1m
  maxTime: 5m
  maxItemsCount: 1000
  prefetching: false
  prefetchExpires: 3h
  prefetchThreshold: 5
  prefetchMaxItemsCount: 5000
  cacheTimeNegative: 3m

# Blocking Related Config
blocking:
  blackLists:
    ads: []
  whiteLists:
    ads: []
  clientGroupsBlock:
    default:
      - ads
      - special
  blockTTL: 30m
  refreshPeriod: 4h
  downloadTimeout: 3m
  downloadAttempts: 2
  downloadCooldown: 30s
  startStrategy: failOnError

# optional: custom IP address(es) for domain name (with all sub-domains). Multiple addresses must be separated by a comma
# example: query "printer.lan" or "my.printer.lan" will return 192.168.178.3
customDNS:
  customTTL: 10m
  # optional: if true (default), return empty result for unmapped query types (for example TXT, MX or AAAA if only IPv4 address is defined).
  # if false, queries with unmapped types will be forwarded to the upstream resolver
  filterUnmappedTypes: true
  # optional: replace domain in the query with other domain before resolver lookup in the mapping

  rewrite:

    router-1.infra: router-1.homelab.uknth.me
    pie-2.infra: pie-2.homelab.uknth.me
    nas-1.infra: nas-1.homelab.uknth.me
    sidekick-1.infra: sidekick-1.homelab.uknth.me
    workstation-1.infra: workstation-1.homelab.uknth.me
    hero-1.infra: hero-1.homelab.uknth.me
    pie-1.infra: pie-1.homelab.uknth.me
    infra: homelab.uknth.me

  mapping:
    router-1.homelab.uknth.me: 10.0.2.1
    pie-2.homelab.uknth.me: 10.0.2.2
    nas-1.homelab.uknth.me: 10.0.2.3
    sidekick-1.homelab.uknth.me: 10.0.2.4
    workstation-1.homelab.uknth.me: 10.0.2.5
    hero-1.homelab.uknth.me: 10.0.2.6
    pie-1.homelab.uknth.me: 10.0.2.7

    homelab.uknth.me: 10.0.2.2
