# Basic configuration
port: 53
httpPort: 4000

prometheus:
  enable: true
  path: /metrics

# DNS Related Config
upstream:
  default:
    - 1.1.1.1
    - 8.8.8.8
upstreamTimeout: 2s

# conditional:
#   fallbackUpstream: false
#   rewrite:
#     homelab.uknth.me: sidekick-1.homelab
#   mapping:
#     sidekick-1.homelab: 127.0.0.1:54

bootstrapDns: tcp+udp:1.1.1.1

# Caching Related Config
caching:
  minTime: 5m
  maxTime: 60m
  maxItemsCount: 10000
  prefetching: true
  prefetchExpires: 3h
  prefetchThreshold: 5
  prefetchMaxItemsCount: 2000
  cacheTimeNegative: 30m

# Blocking Related Config
blocking:
  blackLists:
    ads:
      - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
      - /app/blacklists/ads-nl.txt
      - |
        # inline definition with YAML literal block scalar style
        someadsdomain.com
        anotheradsdomain.com
        # this is a regex
        /^banners?[_.-]/
    # special:
    #  - https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews/hosts
  whiteLists:
    ads:
      - |
        # inline definition with YAML literal block scalar style
        whitelistdomain.com
  clientGroupsBlock:
    default:
      - ads
      - special
  blockTTL: 30m
  refreshPeriod: 4h
  downloadTimeout: 3m
  downloadAttempts: 2
  downloadCooldown: 30s
  startStrategy: failOnError

# optional: custom IP address(es) for domain name (with all sub-domains). Multiple addresses must be separated by a comma
# example: query "printer.lan" or "my.printer.lan" will return 192.168.178.3
customDNS:
  customTTL: 10m
  # optional: if true (default), return empty result for unmapped query types (for example TXT, MX or AAAA if only IPv4 address is defined).
  # if false, queries with unmapped types will be forwarded to the upstream resolver
  filterUnmappedTypes: true
  # optional: replace domain in the query with other domain before resolver lookup in the mapping
  rewrite:
    homelab.hero: hero-1.homelab.uknth.me
    homelab.sidekick: sidekick-1.homelab.uknth.me
    homelab.workstation: workstation-1.homelab.uknth.me
  mapping:
    hero-1.homelab.uknth.me: 192.168.1.3
    sidekick-1.homelab.uknth.me: 100.89.95.80,192.168.1.2
    workstation-1.homelab.uknth.me: 100.116.174.84,192.168.1.5
    router-1.homelab.uknth.me: 192.168.1.1
    nas-1.homelab.uknth.me: 192.168.1.4
    homelab.uknth.me: 100.89.95.80,192.168.1.2