version: '3'

services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - ./data/:/data/
    ports:
      - {{ vault_port }}:80
    environment:
      - DOMAIN=https://vault.{{ domain }}
      - LOGIN_RATELIMIT_MAX_BURST=10
      - LOGIN_RATELIMIT_SECONDS=60
      - ADMIN_RATELIMIT_MAX_BURST=10
      - ADMIN_RATELIMIT_SECONDS=60
      - ADMIN_TOKEN={{ vault_admin_token }}
      - SENDS_ALLOWED=true
      - EMERGENCY_ACCESS_ALLOWED=true
      - WEB_VAULT_ENABLED=true
      - SIGNUPS_ALLOWED=true
      - SIGNUPS_VERIFY=true
      - SIGNUPS_VERIFY_RESEND_TIME=3600
      - SIGNUPS_VERIFY_RESEND_LIMIT=5
      - SIGNUPS_DOMAINS_WHITELIST={{ vault_signup_domains_whitelist }} 
      - SMTP_HOST={{ vault_smtp_host }}
      - SMTP_PORT={{ vault_smtp_port }}
      - SMTP_SECURITY={{ vault_smtp_security }}
      - SMTP_FROM={{ vault_smtp_from }}
      - SMTP_USERNAME={{ vault_smtp_username }}
      - SMTP_PASSWORD={{ vault_smtp_password }}
      - SMTP_AUTH_MECHANISM="{{ vault_smtp_auth_mechanism }}"
