name: vaultwarden
services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:{{ vw_server_version }}
    restart: unless-stopped
    volumes:
      - {{ vw_data_dir }}:/data/
    ports:
      - {{ vw_ext_port }}:80
    environment:
      - DOMAIN=https://{{ vw_host }}
      - LOGIN_RATELIMIT_MAX_BURST=10
      - LOGIN_RATELIMIT_SECONDS=60
      - ADMIN_RATELIMIT_MAX_BURST=10
      - ADMIN_RATELIMIT_SECONDS=60
      - ADMIN_TOKEN={{ vw_admin_token }}
      - SENDS_ALLOWED=true
      - EMERGENCY_ACCESS_ALLOWED=true
      - WEB_VAULT_ENABLED=true
      - SIGNUPS_ALLOWED=true
      - SIGNUPS_VERIFY=true
      - SIGNUPS_VERIFY_RESEND_TIME=3600
      - SIGNUPS_VERIFY_RESEND_LIMIT=5
      - SIGNUPS_DOMAINS_WHITELIST={{ vw_signups_domains_whitelist }}
      - SMTP_HOST={{ vw_smtp_host }}
      - SMTP_PORT={{ vw_smtp_port }}
      - SMTP_SECURITY={{ vw_smtp_security }}
      - SMTP_FROM={{ vw_smtp_from }}
      - SMTP_USERNAME={{ vw_smtp_user }}
      - SMTP_PASSWORD={{ vw_smtp_password }}
      - SMTP_AUTH_MECHANISM="Login"